.header,
.header * {
  box-sizing: border-box;
}
.header {
  position: absolute;
  inset: 0;
}
.logo {
  position: absolute;
  left: 171.59px;
  top: 35.02px;
  overflow: visible;
}
.menu {
  width: 234px;
  height: 15px;
  position: absolute;
  left: 1041px;
  top: 37px;
  overflow: hidden;
}
.courses {
  color: #ffffff;
  text-align: left;
  font: 700 12px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 7.5px);
}
.pricing {
  color: #ffffff;
  text-align: left;
  font: 700 12px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 102px;
  top: calc(50% - 7.5px);
}
.login {
  color: #ffffff;
  text-align: left;
  font: 700 12px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 200px;
  top: calc(50% - 7.5px);
}

.main-part,
.main-part * {
  box-sizing: border-box;
}
.main-part {
  width: 1440px;
  height: 1093px;
  position: relative;
  overflow: hidden;
}
.background {
  position: absolute;
  inset: 0;
}
.mask {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.mask2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.object {
  width: 1448.15px;
  height: 1055px;
  position: static;
}
.bitmap {
  width: 1448.15px;
  height: 1055px;
  position: absolute;
  left: -4.08px;
  top: -66px;
}
.bitmap2 {
  background: radial-gradient(
      closest-side,
      rgba(41, 48, 61, 0) 0%,
      rgba(7, 22, 41, 1) 100%
    ),
    linear-gradient(to left, #000000, #000000);
  width: 1448.15px;
  height: 1055px;
  position: absolute;
  left: -4.08px;
  top: -66px;
}
.get-schooled {
  color: #ffffff;
  text-align: center;
  font: 700 120px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 377px;
  top: calc(50% - 326.5px);
}
.smiles {
  color: #ffffff;
  text-align: center;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 593px;
  top: calc(50% - 185.5px);
}
.grin {
  color: #ffffff;
  text-align: center;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 704px;
  top: calc(50% - 185.5px);
}
.laugh {
  color: #ffffff;
  text-align: center;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 797px;
  top: calc(50% - 185.5px);
}
.button {
  width: 162px;
  height: 44px;
  position: absolute;
  left: 639px;
  top: 419px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button-background {
  background: #c271ff;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.register-for-free {
  color: #ffffff;
  text-align: center;
  font: 600 14px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 20px;
  top: calc(50% - 9px);
}
.pros {
  position: absolute;
  inset: 0;
}
.pro-4 {
  width: 150px;
  height: 237px;
  position: absolute;
  left: 1076px;
  top: 758px;
  overflow: hidden;
}
.henry-hughes {
  color: #ffffff;
  text-align: center;
  font: 900 18px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -41.5px);
  width: 150px;
}
._24-h-smiles-winne {
  color: #ffffff;
  text-align: center;
  font: 400 italic 16px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -70.5px);
  width: 150px;
}
.avatar {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.pro-3 {
  width: 150px;
  height: 237px;
  position: absolute;
  left: 787px;
  top: 758px;
  overflow: hidden;
}
.bruce-walters {
  color: #ffffff;
  text-align: center;
  font: 900 18px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -41.5px);
  width: 150px;
}
.best-friend-smile {
  color: #ffffff;
  text-align: center;
  font: 400 italic 16px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -70.5px);
  width: 150px;
}
.avatar2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.pro-2 {
  width: 150px;
  height: 237px;
  position: absolute;
  left: 506px;
  top: 758px;
  overflow: hidden;
}
.nannie-lawrence {
  color: #ffffff;
  text-align: center;
  font: 900 18px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -41.5px);
  width: 150px;
}
.best-little-smile {
  color: #ffffff;
  text-align: center;
  font: 400 italic 16px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -70.5px);
  width: 150px;
}
.avatar3 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.pro-1 {
  width: 150px;
  height: 237px;
  position: absolute;
  left: 217px;
  top: 758px;
  overflow: hidden;
}
.phillip-massey {
  color: #ffffff;
  text-align: center;
  font: 900 18px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -41.5px);
  width: 150px;
}
.smile-of-the-year {
  color: #ffffff;
  text-align: center;
  font: 400 italic 16px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -70.5px);
  width: 150px;
}
.avatar4 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.part-1-testimonials,
.part-1-testimonials * {
  box-sizing: border-box;
}
.part-1-testimonials {
  position: absolute;
  inset: 0;
}
.background {
  position: absolute;
  left: -1px;
  top: 1093px;
  overflow: visible;
}
.testimonial {
  width: 943px;
  height: 160px;
  position: static;
}
.avatar {
  position: absolute;
  left: 259px;
  top: 1201px;
  overflow: visible;
}
.text {
  width: 730px;
  height: 158px;
  position: absolute;
  left: 472px;
  top: 1203px;
  overflow: hidden;
}
.weather-presenter {
  color: #ffffff;
  text-align: left;
  font: 400 italic 22px/33.6px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -45px);
}
.person-name {
  color: #ffffff;
  text-align: left;
  font: 700 22px/33.6px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - -11px);
}
.those-tutorials-ar {
  color: #ffffff;
  text-align: left;
  font: 400 22px/33.6px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 730px;
}

.part-2-tutorials,
.part-2-tutorials * {
  box-sizing: border-box;
}
.part-2-tutorials {
  width: 1228px;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.tuto-1 {
  width: 255px;
  height: 335px;
  position: absolute;
  left: 58px;
  top: 115px;
  overflow: hidden;
}
.background {
  background: #ffffff;
  border-radius: 5px;
  width: 255px;
  height: 335px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
}
.avatar {
  position: absolute;
  left: 13px;
  top: 261px;
  overflow: visible;
}
.phillip-massey {
  color: #c271ff;
  text-align: left;
  font: 600 14px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 56px;
  top: calc(50% - -95.5px);
}
._8-min {
  color: #c271ff;
  text-align: right;
  font: 600 14px/27px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 199px;
  top: calc(50% - -129.5px);
}
.rating {
  position: absolute;
  left: 13px;
  top: 305px;
  overflow: visible;
}
.lorem-ipsum-dolor-si {
  color: rgba(7, 22, 41, 0.5);
  text-align: left;
  font: 400 14px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 13px;
  top: calc(50% - -32.1px);
  width: 242px;
}
.diagonal-smile {
  color: #071629;
  text-align: left;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 13px;
  top: calc(50% - -4.5px);
}
.preview {
  position: absolute;
  inset: 0;
}
.mask3 {
  background: #d8d8d8;
  border-radius: 5px 5px 0px 0px;
  width: 255px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bitmap {
  width: 821px;
  height: 1232px;
  position: absolute;
  left: -353px;
  top: -289px;
}
.play {
  position: absolute;
  left: 96px;
  top: 45px;
  overflow: visible;
}
.tuto-2 {
  width: 255px;
  height: 335px;
  position: absolute;
  left: 344px;
  top: 115px;
  overflow: hidden;
}
.avatar2 {
  position: absolute;
  left: 13px;
  top: 261px;
  overflow: visible;
}
.rating2 {
  position: absolute;
  left: 13px;
  top: 305px;
  overflow: visible;
}
.sad-smile {
  color: #071629;
  text-align: left;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 13px;
  top: calc(50% - -4.5px);
}
.bitmap2 {
  width: 402px;
  height: 603px;
  position: absolute;
  left: -147px;
  top: -232px;
}
.play2 {
  position: absolute;
  left: 96px;
  top: 45px;
  overflow: visible;
}
.tuto-3 {
  width: 255px;
  height: 335px;
  position: absolute;
  left: 629px;
  top: 115px;
  overflow: hidden;
}
.avatar3 {
  position: absolute;
  left: 13px;
  top: 261px;
  overflow: visible;
}
.rating3 {
  position: absolute;
  left: 13px;
  top: 305px;
  overflow: visible;
}
.natural-smile {
  color: #071629;
  text-align: left;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 13px;
  top: calc(50% - -4.5px);
}
.bitmap3 {
  width: 261px;
  height: 391px;
  position: absolute;
  left: -3.67px;
  top: -119px;
}
.play3 {
  position: absolute;
  left: 96px;
  top: 45px;
  overflow: visible;
}
.tuto-4 {
  width: 255px;
  height: 335px;
  position: absolute;
  left: 914px;
  top: 115px;
  overflow: hidden;
}
.avatar4 {
  position: absolute;
  left: 13px;
  top: 261px;
  overflow: visible;
}
.rating4 {
  position: absolute;
  left: 13px;
  top: 305px;
  overflow: visible;
}
.happy-smile {
  color: #071629;
  text-align: left;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 13px;
  top: calc(50% - -4.5px);
}
.bitmap4 {
  width: 546px;
  height: 364px;
  position: absolute;
  left: -110.5px;
  top: -105px;
}
.play4 {
  position: absolute;
  left: 96px;
  top: 45px;
  overflow: visible;
}

.part-3-free-membership,
.part-3-free-membership * {
  box-sizing: border-box;
}
.part-3-free-membership {
  width: 1440px;
  height: 502px;
  position: relative;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.button {
  width: 162px;
  height: 44px;
  position: absolute;
  left: 639px;
  top: 406px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button-background {
  background: #c271ff;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.register-for-free {
  color: #ffffff;
  text-align: center;
  font: 600 14px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 21.5px;
  top: calc(50% - 9px);
}
.dot-1 {
  width: 257px;
  height: 153px;
  position: absolute;
  left: 164px;
  top: 168px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si {
  color: #ffffff;
  text-align: center;
  font: 400 14px/26px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 22.5px;
  top: calc(50% - -24.5px);
  width: 212px;
}
.lorem-ipsum {
  color: #ffffff;
  text-align: center;
  font: 600 18px/26px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0.5px;
  top: calc(50% - 14.5px);
  width: 256px;
}
.smile {
  position: absolute;
  left: 106.71px;
  top: 0.03px;
  overflow: visible;
}
.dot-2 {
  width: 257px;
  height: 153px;
  position: absolute;
  left: 448px;
  top: 168px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si2 {
  color: #ffffff;
  text-align: center;
  font: 400 14px/26px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 18px;
  top: calc(50% - -24.5px);
  width: 221px;
}
.smile2 {
  position: absolute;
  left: 106.71px;
  top: 0.03px;
  overflow: visible;
}
.dot-3 {
  width: 257px;
  height: 153px;
  position: absolute;
  left: 733px;
  top: 168px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si3 {
  color: #ffffff;
  text-align: center;
  font: 400 14px/26px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 21px;
  top: calc(50% - -24.5px);
  width: 215px;
}
.smile3 {
  position: absolute;
  left: 106.71px;
  top: 0.03px;
  overflow: visible;
}
.dot-4 {
  width: 257px;
  height: 153px;
  position: absolute;
  left: 1019px;
  top: 168px;
  overflow: hidden;
}
.smile4 {
  position: absolute;
  left: 106.71px;
  top: 0.03px;
  overflow: visible;
}
.part-4-faq,
.part-4-faq * {
  box-sizing: border-box;
}
.part-4-faq {
  width: 920px;
  height: 707px;
  position: relative;
  overflow: hidden;
}
.f-a-q {
  color: #071629;
  text-align: center;
  font: 300 60px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 407px;
  top: calc(50% - 353.5px);
}
.q-1 {
  width: 350px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 149px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si {
  color: rgba(7, 22, 41, 0.5);
  text-align: left;
  font: 400 14px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 71px);
  width: 350px;
}
.how-does-this-work {
  color: #071629;
  text-align: left;
  font: 700 16px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 121px);
}
.q-3 {
  width: 350px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 465px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si-copy {
  color: rgba(7, 22, 41, 0.5);
  text-align: left;
  font: 400 14px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 71px);
  width: 350px;
}
.q-2 {
  width: 350px;
  height: 242px;
  position: absolute;
  left: 570px;
  top: 149px;
  overflow: hidden;
}
.q-4 {
  width: 350px;
  height: 242px;
  position: absolute;
  left: 570px;
  top: 465px;
  overflow: hidden;
}
.lorem-ipsum-dolor-si-copy-2 {
  color: rgba(7, 22, 41, 0.5);
  text-align: left;
  font: 400 14px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 71px);
  width: 350px;
}

.part-5-footer,
.part-5-footer * {
  box-sizing: border-box;
}
.part-5-footer {
  width: 1440px;
  height: 249px;
  position: relative;
  overflow: hidden;
}
.background {
  background: #071629;
  width: 1440px;
  height: 249px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo {
  width: 169px;
  height: 30px;
  position: absolute;
  left: 165px;
  top: 95px;
  overflow: hidden;
}
.smile-school {
  color: #ffffff;
  text-align: left;
  font: 400 18px "Coiny", sans-serif;
  position: absolute;
  left: 55px;
  top: calc(50% - 9px);
}
.smile {
  position: absolute;
  left: 0.59px;
  top: 0.02px;
  overflow: visible;
}
.smileschool-2020 {
  color: #ffffff;
  text-align: left;
  font: 400 12px "Source Sans Pro", sans-serif;
  opacity: 0.3516787588596344;
  position: absolute;
  left: 672px;
  top: calc(50% - -70.5px);
}
.social-icons {
  position: absolute;
  inset: 0;
}
.instagram {
  position: absolute;
  left: 1170px;
  top: 90px;
  overflow: visible;
}
.twitter {
  position: absolute;
  left: 1120px;
  top: 90px;
  overflow: visible;
}
.facebook {
  position: absolute;
  left: 1070px;
  top: 90px;
  overflow: visible;
}